<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body> 
       <main class="container-fluid">      
        <h1>Edit Image Gallery</h1>
        <form action="/editGalleryImage/<%= gallObj._id %>" method="post" enctype="multipart/form-data">
               
                <div class="mb-3">
                    <label for="description" class="form-label">Description Of the Image</label>
                    <input type="text" class="form-control" id="description"  name="description" value="<%= gallObj.description %>" >   
                </div>
                <div class="mb-3">
                  <label  class="form-label">Current Image</label>
                    <img src="<%= gallObj.imgUrl %>"style="width:300px;height:300px;display:block;" alt="Image">
                </div>  
                <div class="mb-3">
                    <label for="image" class="form-label">Select differnrt image to upload</label>
                    <input type="file" class="form-control" id="image" name="image">
                </div>                
                <div>
                    <button type="submit" class="btn btn-primary">Submit Changes</button>
                </div>         
        </form>
</main>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
